.container-main{
       background-color: #020202;
       border-top: 1px solid white;
       display: flex;
       flex-direction: column;
       height: auto;
       width: 100%;

}


/* produtos */

.titulo-main{
        color: rgb(255, 0, 153);
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        text-align: center;
        width: 170px;
        filter: drop-shadow(0 0 6px rgb(255,0,153));

}

.titulo-main-produtos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}



.produtos-main{
        margin: 2px;
        max-width: 767px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding-top: 30px;
        margin-bottom: 30px;
      

        
}

.produto-main-1{
        background-color: white;
        padding: 10px;
        border: 1px solid red;
        max-width: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 20px;

}

.img-produto img{
        width: 140px;
}

.descricao-produto{
        font-size: 10px;
        font-family: 'Courier New', Courier, monospace;
}

.valor-produto{
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 900;
        letter-spacing: -3px;
}

.botao-produto li{
        background-image: linear-gradient(45deg , black, rgb(255,0,153));
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        color: white ;
        transform: translateY(5px);
        border: 1px solid white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 12px;
        height: 30px;

}

.botao-main-produto{
        display: flex;
        justify-content: center;
}


/* produtos */